@font-face {
  font-family: 'Saira';
  src: local('Saira Light'), local('Saira-Light'),
  url('assets/fonts/saira/Sairalight.woff2') format('woff2'),
  url('assets/fonts/saira/Sairalight.woff') format('woff'),
  url('assets/fonts/saira/Sairalight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Saira';
  src: local('Saira Regular'), local('Saira-Regular'),
  url('assets/fonts/saira/Sairaregular.woff2') format('woff2'),
  url('assets/fonts/saira/Sairaregular.woff') format('woff'),
  url('assets/fonts/saira/Sairaregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Saira';
  src: local('Saira SemiBold'), local('Saira-SemiBold'),
  url('assets/fonts/saira/Sairasemibold.woff2') format('woff2'),
  url('assets/fonts/saira/Sairasemibold.woff') format('woff'),
  url('assets/fonts/saira/Sairasemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Saira';
  src: local('Saira Thin'), local('Saira-Thin'),
  url('assets/fonts/saira/Sairathin.woff2') format('woff2'),
  url('assets/fonts/saira/Sairathin.woff') format('woff'),
  url('assets/fonts/saira/Sairathin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Saira';
  src: local('Saira ExtraBold'), local('Saira-ExtraBold'),
  url('assets/fonts/saira/Sairaextrabold.woff2') format('woff2'),
  url('assets/fonts/saira/Sairaextrabold.woff') format('woff'),
  url('assets/fonts/saira/Sairaextrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Saira';
  src: local('Saira Black'), local('Saira-Black'),
  url('assets/fonts/saira/Sairablack.woff2') format('woff2'),
  url('assets/fonts/saira/Sairablack.woff') format('woff'),
  url('assets/fonts/saira/Sairablack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Saira';
  src: local('Saira Medium'), local('Saira-Medium'),
  url('assets/fonts/saira/Sairamedium.woff2') format('woff2'),
  url('assets/fonts/saira/Sairamedium.woff') format('woff'),
  url('assets/fonts/saira/Sairamedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Saira';
  src: local('Saira ExtraLight'), local('Saira-ExtraLight'),
  url('assets/fonts/saira/Sairaextralight.woff2') format('woff2'),
  url('assets/fonts/saira/Sairaextralight.woff') format('woff'),
  url('assets/fonts/saira/Sairaextralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Saira';
  src: local('Saira Bold'), local('Saira-Bold'),
  url('assets/fonts/saira/Sairabold.woff2') format('woff2'),
  url('assets/fonts/saira/Sairabold.woff') format('woff'),
  url('assets/fonts/saira/Sairabold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
